<!-- views/players.ejs -->
<%- include('../partials/header') %>

<h2>Players Page</h2>
<ul>
  <% players.forEach(player => { %>
    <li><%= player.name %> - <%= player.position %></li>
  <% }); %>
</ul>

<%- include('../partials/footer') %>