<!-- <br><br><h2>Reviews</h2>
<form id="add-review-form" method="POST"
  action="/movies/<%= movie._id %>/reviews">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select>
  <input type="submit" value="Add Review">
</form> -->






<!-- <%- include('../partials/header') %>

<br><br>
<h2>Player Qualities</h2>
<form id="add-qualities-form" method="POST" action="/players/<%= player._id %>/qualities">
  <label>Pace:</label>
  <input type="number" name="pace" min="0" max="100" required>
  <label>Dribbling:</label>
  <input type="number" name="dribbling" min="0" max="100" required>
  <label>Ball Control:</label>
  <input type="number" name="ballControl" min="0" max="100" required>
  <label>Vision/Passing:</label>
  <input type="number" name="visionPassing" min="0" max="100" required>
  <input type="submit" value="Add Qualities">
</form>

<%- include('../partials/footer') %> -->
