<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamTeam11</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&family=Madimi+One&family=Micro+5&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <h1>DreamTeam11</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/players">All Players</a></li>
                <li><a href="/players/new">Add Player</a></li>
                <li><a href="/formations">Formation</a></li>
                <li><a href="/formations/new">Add Formation</a></li>
                <li><a href="/coaches">All Coaches</a></li>
                <li><a href="/coaches/new">Add Coach</a></li>
                <!-- Add more navigation links if needed -->
            </ul>
        </nav>
    </header>
    <main>