<!-- views/qualities/index.ejs -->
<%- include('../partials/header') %>

<h2>All Qualities</h2>
<!-- Display a table of all qualities with options to view, edit, and delete each quality -->

<%- include('../partials/footer') %>
