<!-- views/formations.ejs -->
<%- include('partials/header') %>

<h2>Formations Page</h2>
<ul>
    <% formations.forEach(formation => { %>
        <li><%= formation.name %> - <%= formation.description %></li>
        <!-- Add more details as needed -->
    <% }); %>
</ul>

<%- include('partials/footer') %>
