<!-- views/index.ejs -->
<%- include('./partials/header') %>


<!-- <h2>Welcome to DreamTeam11</h2> -->


<body>
    <div class="welcome-container">
        <h1 class="welcome-text">WELCOME TO DREAMTEAM11</h1>
    </div>
    <!-- Your other content goes here -->
</body>


<%- include('./partials/footer') %>