<!-- views/formations/new.ejs -->
<%- include('../partials/header') %>

<h2>Add New Formation</h2>
<form action="/formations" method="POST">
    <label>Name:
        <input type="text" name="name" required>
    </label><br>
    <label>Description:
        <input type="text" name="description" required>
    </label><br>
    <!-- Add more input fields as needed -->
    <button type="submit">Add Formation</button>
</form>

<%- include('../partials/footer') %>
